*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d8dee5;
}

#page-container {
    position: relative;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 900px;
}

.classes-form{
    margin: 5rem 0;
}

.form {
    max-height: 700px;
    width: 100%
}

form button {
    width: 100%; 
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.delete {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 2px solid rgb(231, 50, 50);
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px #333;
    overflow: hidden;
    transition: .3s;
}

.delete:hover {
    background-color: rgb(245, 207, 207);
    transform: scale(1.2);
    box-shadow: 0 0 4px #111;
    transition: .3s;
}

.schedule{
    max-height: 22rem;
    overflow-y: scroll;
    scrollbar-width:none;
}

.card{
    width:100%;
    margin-bottom: 10px;
}

.col-5{
    min-width: fit-content;
}