.footer{
    position: sticky;
    width: 100%;
    padding: 2rem 10rem;
    background-color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-about,
.footer-social-links,
.footer-newsletter {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer h3 {
    margin-top: 0;
}

.footer p, .footer a {
    color: #bbb;
}

.footer a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.footer-newsletter form {
    display: flex;
    flex-direction: column;
}

.footer-newsletter input[type=email] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer-newsletter button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer{
        padding: 2rem 1rem;
    }
    .footer-content {
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
}