* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d8dee5;
}

#page-container {
    position: relative;
}

.main-section {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    width: 100%;
    max-height: 1024px;
    display: flex;
    align-items: center;
}

.main-section picture img {
    object-fit: cover;
}

.main-title {
    position: absolute;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 10em;
    color: white;
    text-align: center;
}

@media (max-width: 712px) {
    .main-title {
        font-size: 5vw;
    }
}

.secondary-section {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.third-section {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.square {
    position: absolute;
    margin: 7rem 0 0 11rem;
    background-color: #fff;
    padding: 80px 80px;
    max-width: 450px;
    max-height: 450px;
    font-family: Arial, Helvetica, sans-serif;
}

.square-title {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -.01em;
    line-height: 1.1;
    color: #000;
    margin: 0 0 24px;

}

.square a {
    color: #000;
}

.square-p {
    font-size: 1.2rem;
    margin: 0 0 24px;
    text-wrap: wrap;
}

.fourth-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #989797;
    background-color: #fff;
    padding: 5rem 15rem 2rem 11rem;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.fourth-section h2 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -.01em;
    line-height: 1.1;
    color: #000;
    margin: 0 0 24px;
}

.fourth-section p {
    font-size: 1.2rem;
    margin: 0 0 24px;
    text-wrap: wrap;
}

.explore-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
    max-width: 400px;
}

.explore-slideshow {
    position: relative;
    width: 600px;
    height: 500px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.content>h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.content .temperature {
    justify-self: end;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.content p {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide[data-active] {
    opacity: 1;
}

.slide img{
    width: 600px;
}

.explore-slideshow .btn-left,
.explore-slideshow .btn-right {
    padding: 0.5em;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
    z-index: 2;
}

.explore-slideshow .btn-left:hover,
.explore-slideshow .btn-right:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.explore-slideshow .btn-left {
    position: absolute;
    top: 35%;
    left: 0%;
    transform: translate(0px, -35%);
}

.explore-slideshow .btn-right {
    position: absolute;
    top: 35%;
    right: 0%;
    transform: translate(0px, -35%);
}

@media (max-width: 712px) {
    .secondary-section {
        align-items: end;
    }

    .third-section {
        align-items: end;
    }

    .square {
        margin: 0 0 1.5rem 1.5rem;
        padding: 20px 20px;
        max-width: 300px;
        max-height: 300px;
    }

    .square-title {
        font-size: 1.5rem;
    }

    .square-p {
        font-size: 1.1rem;
    }
}

@media (max-width: 1024px) {
    .fourth-section {
        padding: 3rem 1.5rem 0 1.5rem;
    }
}

@media (max-width: 668px) {
    .explore-slideshow{
        max-width: 350px;
        max-height: 450px;
    }
    
    .slide {
        max-width: 350px;
    }

    .slide img {
        width: 350px;
        height: auto;
    }
}