*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d8dee5;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    height: 7rem;
    background-color:#0a1a2e;
    z-index: 999;
}

.nav {
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0 4rem;
}

.logo{
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.nav-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 1rem; /* You can adjust this value as needed */
}

.nav-list{
    display:flex;
    justify-content:flex-end;
    margin-left:auto;
    font-size: 30px;
    color:white;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    gap: 40px;
}

@media (max-width: 976px) {
    .nav {
        display: flex;
        align-items: center;
        height: inherit;
        justify-content: flex-start;
        flex-direction: row;
        padding: 0 1rem;
    }
    
    .nav-list{
        display:flex;
        justify-content:flex-end;
        margin-left:auto;
        font-size: 20px;
        color:white;
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
        gap: 10px;
    }
}

@media (max-width: 612px){
    .nav-list{
        display:flex;
        justify-content:flex-end;
        flex-direction: column;
        margin-left:auto;
        font-size: 20px;
        color:white;
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
        gap: 4px;
    }
}

main {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main h1, main h2 {
    color: #333;
    margin-bottom: 0.5em;
}

main p, main li {
    color: #666;
    line-height: 1.6;
}

.about-us {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.philosophy {
    padding: 20px;
    margin-bottom: 20px;
}

.facilities {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.facilities ul {
    list-style-type: none;
    padding-left: 0;
}

.facilities li {
    padding: 5px 0;
}

.community {
    padding: 20px;
    margin-bottom: 20px;
}

.join-us {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

main ul {
    list-style-type: none;
    padding-left: 0;
}

.footer{
    position: sticky;
    width: 100%;
    padding: 2rem 10rem;
    background-color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-about,
.footer-social-links,
.footer-newsletter {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer h3 {
    margin-top: 0;
}

.footer p, .footer a {
    color: #bbb;
}

.footer a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer-newsletter form {
    display: flex;
    flex-direction: column;
}

.footer-newsletter input[type=email] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer-newsletter button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer{
        padding: 2rem 1rem;
    }
    .footer-content {
        flex-direction: column;
        padding-left: 0rem;
        margin: 0;
        align-items: center;
    }
}