*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d8dee5;
}

#page-container {
    position: relative;
    
}

.header {
    position: sticky;
    top: 0;
    height: 7rem;
    background-color:#0a1a2e;
    z-index: 999;
}

.nav {
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0 4rem;
}

.logo{
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.nav-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 1rem;
}

.nav-list{
    display:flex;
    justify-content:flex-end;
    margin-left:auto;
    font-size: 2vw;
    color:white;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    gap: 40px;
}

li a{
    text-decoration: none; 
    color: white;
}

@media (max-width: 976px) {
    .nav {
        padding: 0 1rem;
    }
    
    .nav-list{
        font-size: 20px;
        gap: 10px;
    }
}

@media (max-width: 612px){
    .nav-list{
        flex-direction: column;
        font-size: 20px;
        gap: 4px;
    }
}

@media (max-width: 612px){
    .nav-list{
        display:flex;
        justify-content:flex-end;
        flex-direction: column;
        margin-left:auto;
        font-size: 20px;
        color:white;
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
        gap: 4px;
    }
}

.main{
    min-height:1000px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.main-content, .contact-form, .map{
    position: relative;
    width: 30%;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.main-content{
    padding-left: 30px;
    width:20%;
}

.main-content h1{
    margin-bottom:30px;
    margin-left:-30px;
}

.contact-form {
    order: 2;
    padding: 10px 20px;
    background-color: #fff;
    max-height: 500px;
}

.map{
    order: 3;
    width: calc(30% - 40px);
    margin-top: 5%;
}

.map iframe{
    width:100%;
    border:0;
}

@media (max-width: 1060px){
    .main-content, .contact-form, .map {
        width: 100%;
        margin-top: 20px;
    }

    .map iframe{
        width:100%;
    }

    .main-title {
        position: static;
        transform: none;
        margin-bottom: 20px;
    }

    .main {
        padding: 10px;
    }

    .main-content, .contact-form, .map {
        order: unset;
    }
}

form label,
form input,
form textarea,
form button {
    display: block;
    width: 100%; 
    margin-bottom: 10px;
}

form input,
form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.footer{
    position: sticky;
    width: 100%;
    padding: 2rem 10rem;
    background-color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-about,
.footer-social-links,
.footer-newsletter {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer h3 {
    margin-top: 0;
}

.footer p, .footer a {
    color: #bbb;
}

.footer a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.footer-newsletter form {
    display: flex;
    flex-direction: column;
}

.footer-newsletter input[type=email] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer-newsletter button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer{
        padding: 2rem 1rem;
    }
    .footer-content {
        flex-direction: column;
        padding-left: 0rem;
        margin: 0;
        align-items: center;
    }
}