*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d8dee5;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    height: 7rem;
    background-color:#0a1a2e;
    z-index: 999;
}

.nav {
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0 4rem;
}

.logo{
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.nav-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 1rem; /* You can adjust this value as needed */
}

.nav-list{
    display:flex;
    justify-content:flex-end;
    margin-left:auto;
    font-size: 30px;
    color:white;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    gap: 40px;
}

.main-section{
    position:relative;
    text-align: center;
    display: flex;
}

.main-title{
    position:absolute;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color:white;
    text-align: center;
}

.secondary-section{
    position:relative;
    display: flex;
}

.square{
    position: absolute;
    top: 6rem;
    left:10rem;
    background-color:#fff;
    padding: 80px 80px;
    max-width: 450px;
    max-height:450px;
    font-family:Arial, Helvetica, sans-serif;
}

.square-title{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -.01em;
    line-height: 1.1;
    color: #000;
    margin: 0 0 24px;
    
}

.square-p{
    font-size: 1.2rem;
    margin: 0 0 24px;
    text-wrap: wrap;
}

.third-section{
    position:relative;
    display: flex;
}

.footer{
    position: sticky;
    width: 100%;
    padding: 2rem 10rem;
    background-color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-about,
.footer-social-links,
.footer-newsletter {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer h3 {
    margin-top: 0;
}

.footer p, .footer a {
    color: #bbb;
}

.footer a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer-newsletter form {
    display: flex;
    flex-direction: column;
}

.footer-newsletter input[type=email] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer-newsletter button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}